.background-one {
  background-color: #f9f7fe;
}
.background-second {
  background-color: #ffffff;
}
.search-form {
  padding: 10px 0px 20px;
}

.conteiner {
  max-width: 700px;
  margin: 60px auto;
  padding: 20px 40px 40px;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 2;
}

.current-temperature {
  position: relative;
  left: 450px;
  top: -90px;
}
.icon {
  position: relative;
  top: -15px;
}
.temp {
  font-size: 50px;
}
.units {
  position: relative;
  top: -22px;
}
.forecast-time,
.informations {
  color: rgba(39, 33, 66, 0.4);
}
.forecast-temperature-min {
  color: rgba(141, 141, 241, 0.7);
}
.forecast-temperature-max {
  color: rgb(78, 78, 223, 0.9);
}
.current-day {
  color: rgb(78, 78, 223, 0.9);
}

h1 {
  font-family: "Poppins", sans-serif;
}
